openapi: 3.0.1
info:
  title: Wrike API
  version: "4.0"
servers:
- url: https://www.wrike.com/api/v4
- url: https://app-eu.wrike.com/api/v4
- url: https://app-us2.wrike.com/api/v4
paths:
  /access_roles:
    get:
      tags:
      - Access Roles
      summary: Get Access Roles
      description: |-
        Access roles.

        <b>Scopes:</b> amReadOnlyAccessRole
      operationId: GET:/access_roles/empty
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccessRole"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /account:
    get:
      tags:
      - Account
      summary: Query Accounts
      description: |-
        Returns current account.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/account/empty
      parameters:
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Metadata"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Account metadata
          * `customFields` - Account custom fields
          * `subscription` - Account subscription
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - customFields
                - subscription
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    put:
      tags:
      - Account
      summary: Modify Account
      description: |-
        Update current account.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: PUT:/account/empty
      parameters:
      - name: metadata
        in: query
        description: "Metadata to be updated. Limit : `100`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Metadata to be updated
              items:
                $ref: "#/components/schemas/Metadata"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: |-
        Reads approvals by filter. When no filter parameters passed returns all approvals shared with a user.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/approvals/empty
      parameters:
      - name: statuses
        in: query
        description: |-
          Get approvals for specified statuses
          * `Draft`
          * `Approved`
          * `Rejected`
          * `Cancelled`
          * `Pending`
        required: false
        schema:
          $ref: "#/components/schemas/ApprovalStatus"
      - name: updatedDate
        in: query
        description: "Last updated date filter, exact match or range"
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: approvers
        in: query
        description: "Approvers filter, match of any"
        required: false
        content:
          application/json:
            schema:
              type: array
              description: "Approvers filter, match of any"
              items:
                $ref: "#/components/schemas/UserId"
      - name: pendingApprovers
        in: query
        description: "Pending approvers filter, match of any"
        required: false
        content:
          application/json:
            schema:
              type: array
              description: "Pending approvers filter, match of any"
              items:
                $ref: "#/components/schemas/UserId"
      - name: limit
        in: query
        description: Limit on number of returned approvals
        required: false
        schema:
          type: number
          description: Limit on number of returned approvals
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: number
          description: Page size
      - name: nextPageToken
        in: query
        description: "Next page token, overrides any other parameters in request"
        required: false
        schema:
          type: string
          description: "Next page token, overrides any other parameters in request"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /folders/{folderId}/approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: |-
        Reads all approvals on folder/project.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/folders/single/approvals
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Approvals
      summary: Create approval
      description: |-
        Create an approval for folder/project. Creates approval in draft status when no approvers assigned. Otherwise creates in pending status. Approvals created via API will not be affected by workflow automation, e.g. task status will not be automatically transitioned when approval finishes.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/folders/single/approvals
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: description
        in: query
        description: Description
        required: false
        schema:
          type: string
          description: Description
      - name: dueDate
        in: query
        description: |-
          Due date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Due date<br>Format: yyyy-MM-dd"
      - name: approvers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: "#/components/schemas/UserId"
      - name: attachments
        in: query
        description: List of origin version attachments to set in approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: List of origin version attachments to set in approval
              items:
                $ref: "#/components/schemas/AttachmentId"
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved.
          Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved.
            Set to true by default
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected. Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected. Set to true by default
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /tasks/{taskId}/approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: |-
        Reads all approvals on task.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/tasks/single/approvals
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Approvals
      summary: Create approval
      description: |-
        Create an approval for task. Creates approval in draft status when no approvers assigned. Otherwise creates in pending status. Approvals created via API will not be affected by workflow automation, e.g. task status will not be automatically transitioned when approval finishes.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/tasks/single/approvals
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      - name: description
        in: query
        description: Description
        required: false
        schema:
          type: string
          description: Description
      - name: dueDate
        in: query
        description: |-
          Due date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Due date<br>Format: yyyy-MM-dd"
      - name: approvers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: "#/components/schemas/UserId"
      - name: attachments
        in: query
        description: List of origin version attachments to set in approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: List of origin version attachments to set in approval
              items:
                $ref: "#/components/schemas/AttachmentId"
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved.
          Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved.
            Set to true by default
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected. Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected. Set to true by default
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /approvals/{approvalIds}:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: |-
        Reads approvals by ids.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/approvals/multi
      parameters:
      - name: approvalIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: "#/components/schemas/ApprovalId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /approvals/{approvalId}:
    put:
      tags:
      - Approvals
      summary: Update approval
      description: |-
        Update approval.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: PUT:/approvals/single
      parameters:
      - name: approvalId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/ApprovalId"
      - name: description
        in: query
        description: description
        required: false
        schema:
          type: string
          description: description
      - name: dueDate
        in: query
        description: |-
          due date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "due date<br>Format: yyyy-MM-dd"
      - name: addApprovers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: "#/components/schemas/UserId"
      - name: removeApprovers
        in: query
        description: Remove approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Remove approvers
              items:
                $ref: "#/components/schemas/UserId"
      - name: addAttachments
        in: query
        description: Add origin version attachments to approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Add origin version attachments to approval
              items:
                $ref: "#/components/schemas/AttachmentId"
      - name: removeAttachments
        in: query
        description: Remove origin version attachments from approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Remove origin version attachments from approval
              items:
                $ref: "#/components/schemas/AttachmentId"
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    delete:
      tags:
      - Approvals
      summary: Cancel approval
      description: |-
        Cancel approval.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: DELETE:/approvals/single
      parameters:
      - name: approvalId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/ApprovalId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Approval"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /assets:
    post:
      tags:
      - Assets
      summary: Create Equipment
      description: |-
        Create asset in account.

        <b>Scopes:</b> amReadWriteUser
      operationId: POST:/assets/empty
      parameters:
      - name: name
        in: query
        description: "Name of asset, required"
        required: true
        schema:
          type: string
          description: "Name of asset, required"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Equipment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /assets/{assetId}:
    put:
      tags:
      - Assets
      summary: Update Equipment
      description: |-
        Update asset.

        <b>Scopes:</b> amReadWriteUser
      operationId: PUT:/assets/single
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          oneOf:
          - $ref: "#/components/schemas/UserId"
          - $ref: "#/components/schemas/InvitationId"
      - name: name
        in: query
        description: "Name of asset, required"
        required: true
        schema:
          type: string
          description: "Name of asset, required"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Equipment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    delete:
      tags:
      - Assets
      summary: Delete Equipment
      description: |-
        Delete asset.

        <b>Scopes:</b> amReadWriteUser
      operationId: DELETE:/assets/single
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          oneOf:
          - $ref: "#/components/schemas/UserId"
          - $ref: "#/components/schemas/InvitationId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Equipment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /async_job/{asyncJobId}:
    get:
      tags:
      - Async job
      summary: Get async job
      description: |-
        Get Async job specified by id.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/async_job/single
      parameters:
      - name: asyncJobId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AsyncJobId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AsyncJob"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: |-
        Return all Attachments of account tasks and folders.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/attachments/empty
      parameters:
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /folders/{folderId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: |-
        Returns all Attachments of a folder.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/folders/single/attachments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Attachments
      summary: Create Wrike Attachment
      description: |-
        Add an attachment to a folder.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/folders/single/attachments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /tasks/{taskId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: |-
        Returns all Attachments of a task.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/tasks/single/attachments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Attachments
      summary: Create Wrike Attachment
      description: |-
        Add an attachment to a task.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/tasks/single/attachments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments/{attachmentIds}:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: |-
        Returns complete information about multiple attachments.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/attachments/multi
      parameters:
      - name: attachmentIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: "#/components/schemas/AttachmentId"
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments/{attachmentId}/download:
    get:
      tags:
      - Attachments
      summary: Download Wrike Attachment
      description: |-
        Returns attachment content. It can be accessed via /attachments/id/download/name.ext URL. In this case, 'name.ext' will be returned as the file name.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/attachments/single/download
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AttachmentId"
      responses:
        "2XX":
          description: success response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments/{attachmentId}/preview:
    get:
      tags:
      - Attachments
      summary: Download Attachment Preview
      description: |-
        Returns Preview for the attachment. The preview can be accessed via /attachments/id/preview/name.ext URL. In this case, 'name.ext' will be returned as the file name.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/attachments/single/preview
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AttachmentId"
      - name: size
        in: query
        description: |-
          Preview dimensions
          * `w44` - Width = 44, height = auto
          * `w300` - Width = 300, height = auto
          * `w400` - Width = 400, height = auto
          * `w100` - Width = 100, height = auto
          * `h400` - Width = auto, height = 400
          * `w200` - Width = 200, height = auto
        required: false
        schema:
          type: string
          enum:
          - w44
          - w300
          - w400
          - w100
          - h400
          - w200
      responses:
        "2XX":
          description: success response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments/{attachmentId}/url:
    get:
      tags:
      - Attachments
      summary: Get Access URL for Attachment
      description: |-
        Public URL to an attachment from Wrike or an external service. The link for attachment from Wrike is valid for 24 hours from when you make the request.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/attachments/single/url
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AttachmentId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AttachmentUrl"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /attachments/{attachmentId}:
    put:
      tags:
      - Attachments
      summary: Update Attachment
      description: |-
        Update previously uploaded Attachment with new version.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: PUT:/attachments/single
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AttachmentId"
      - name: url
        in: query
        description: Download attachment by url
        required: false
        schema:
          type: string
          description: Download attachment by url
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attachment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    delete:
      tags:
      - Attachments
      summary: Delete Attachment
      description: |-
        Delete Attachment by ID.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: DELETE:/attachments/single
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AttachmentId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      type: string
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /audit_log:
    get:
      tags:
      - Audit Log
      summary: Get Audit Log
      description: |-
        Get <a href="https://help.wrike.com/hc/en-us/articles/209606309-Audit-Log-Reports">Audit Log Reports</a>, that contains audit trail for actions in the account. Available to Enterprise admins with "Create user activity reports" right.

        <b>Scopes:</b> amReadOnlyAuditLog
      operationId: GET:/audit_log/empty
      parameters:
      - name: eventDate
        in: query
        description: "Event date filter, range"
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: operations
        in: query
        description: |-
          Operations filter
          * `SecondFactorEnabled`
          * `CustomFieldRemoved`
          * `CalendarExternalLinksActivated`
          * `TaskDuplication`
          * `GanttSnapshotDeleted`
          * `CalendarExternalLinkDeleted`
          * `TaskRestored`
          * `CalendarExternalLinksDeactivated`
          * `PowerBIPublicLinkDeleted`
          * `ApprovalCanceled`
          * `RequestFormCreated`
          * `SamlClearPasswordForSamlUsers`
          * `OneTimePasswordUsed`
          * `AnalyzeWidgetPublicLinkCreated`
          * `TaskErased`
          * `InvitationPolicyChanged`
          * `CalendarExternalLinkCreated`
          * `UserTaskGroupRolesChanged`
          * `UserJoinedSpace`
          * `SamlSSOSettingsChanged`
          * `UserFailLogin`
          * `SamlSSODisabled`
          * `AdminMailSettingsChanged`
          * `CustomFieldRemovedFromFolder`
          * `UserLoggedIn`
          * `UserRoleChanged`
          * `CustomFieldAddedToFolder`
          * `UserTypeModified`
          * `AccessCodeAccepted`
          * `PublicLinkExpirationChanged`
          * `UserLogout`
          * `PowerBIPublicLinkCreated`
          * `GuestReviewerRevoked`
          * `ApprovedIpRangesOrSubnetsChanged`
          * `TaskScheduleChanged`
          * `CustomFieldRestored`
          * `AccountDeleted`
          * `UserAdminPermissionsChanged`
          * `AttachDeleted`
          * `SpaceDeleted`
          * `AuditReportCreated`
          * `UserTypeCreated`
          * `ExcelExportCreated`
          * `AdminLoggedInAsUser`
          * `WorkflowCreated`
          * `TaskUnsharedFromAuthor`
          * `AccessAuditReportCsvExport`
          * `AttachMarkAsFinal`
          * `OneTimePasswordStatusSwitched`
          * `ApproverAdded`
          * `UserLeftSpace`
          * `TaskUnarchived`
          * `ApprovalDescriptionChanged`
          * `GroupParentRemoved`
          * `GuestReviewAccountSettingsChanged`
          * `WorkflowDeleted`
          * `PasswordPolicyModified`
          * `GroupInviteeAdded`
          * `UserRestored`
          * `WorkflowArchived`
          * `ApprovalDueDateChanged`
          * `AnalyzeWidgetPublicLinkDeleted`
          * `SpaceArchivedUnarchived`
          * `TaskStatusChanged`
          * `TaskCommentChanged`
          * `AccessRoleDeleted`
          * `TaskUnassigned`
          * `AnalyzePublicLinkCreated`
          * `GuestReviewRejected`
          * `TaskUnshared`
          * `PasswordChanged`
          * `RequestFormDeleted`
          * `AttemptDownloadInfectedAttach`
          * `InvitationSend`
          * `AccessRoleModified`
          * `SpaceCreated`
          * `ApprovedDomainsChanged`
          * `TimesheetStatusChanged`
          * `TimelogLocked`
          * `UserRevokeAdmin`
          * `RecycleBinErased`
          * `ApproverRemoved`
          * `UserDeleted`
          * `GanttSnapshotCreated`
          * `GroupMemberRemoved`
          * `UserProfileUpdated`
          * `SecondFactorUsageReportCreated`
          * `SecondFactorDisabled`
          * `WhiteboardCreated`
          * `AttachViewed`
          * `AccessRoleCreated`
          * `GroupMemberAdded`
          * `AccountDataExportRequested`
          * `SamlSSOMetadataChanged`
          * `GroupRenamed`
          * `PublicLinkCreated`
          * `TaskShared`
          * `AccountModified`
          * `PublicLinkPasswordRequested`
          * `WorkflowModified`
          * `PublicLinkDeleted`
          * `AccessCodeDeclined`
          * `AnalyzeWidgetPublicLinkAccessed`
          * `ApprovalCreated`
          * `Oauth2AccessRevoked`
          * `TaskParentRemoved`
          * `AntivirusDeletedInfectedAttach`
          * `RequestFormModified`
          * `GroupInviteeRemoved`
          * `GuestReviewerInvited`
          * `TaskArchived`
          * `AccountBackupCreated`
          * `FeedCreated`
          * `AccessCodeGenerated`
          * `UserDeactivated`
          * `AttachCopied`
          * `GroupParentAdded`
          * `GuestReviewerChanged`
          * `TimelogUnlocked`
          * `TaskCreated`
          * `WhiteboardRemoved`
          * `OneTimePasswordRevoked`
          * `ApprovalFinished`
          * `TaskAssigned`
          * `OneTimePasswordCreated`
          * `GroupCreated`
          * `TimesheetCreated`
          * `UsersAndGroupsExported`
          * `AttachMoved`
          * `CustomFieldCreated`
          * `AutomatedIntegrationsExecution`
          * `PowerBIPublicLinkAccessed`
          * `AttachUnmarkAsFinal`
          * `AnalyzePublicLinkAccessed`
          * `GroupDeleted`
          * `CustomFieldModified`
          * `TaskCommentDeleted`
          * `AnalyzePublicLinkDeleted`
          * `UserTypeDeleted`
          * `Oauth2AccessGranted`
          * `UserGrantAdmin`
          * `PublicLinksAccountSettingsChanged`
          * `WorkflowUnarchived`
          * `TaskDeleted`
          * `InvitationAccepted`
          * `AccountDataExportGenerated`
          * `SamlSSOEnabled`
          * `PublicLinkPasswordChanged`
          * `TaskParentAdded`
          * `ApprovalDecisionMade`
          * `GuestReviewAccepted`
          * `UserCustomFieldValueChanged`
          * `UserActivated`
          * `AttachUploaded`
          * `AttachDownloaded`
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Operations filter
              items:
                $ref: "#/components/schemas/AuditLogOperation"
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: number
          description: Page size
      - name: nextPageToken
        in: query
        description: "Next page token, overrides any other parameters in request"
        required: false
        schema:
          type: string
          description: "Next page token, overrides any other parameters in request"
      - name: objectType
        in: query
        description: |-
          Filter by object type. Requires both eventDate and operations to be specified.
          * `Account`
          * `Group`
          * `AnalyzeReportWidget`
          * `Task`
          * `User`
          * `WorkspaceSnapshot`
          * `CalendarExternalLink`
          * `Attachment`
          * `Folder`
          * `DataExport`
          * `PowerBIEntity`
          * `Whiteboard`
          * `Space`
          * `Comment`
          * `RequestForm`
          * `AccessRole`
          * `Timesheet`
          * `Invitation`
          * `Workflow`
          * `AnalyzeReport`
          * `Oauth2Client`
          * `Project`
          * `PublicLink`
          * `UserRole`
          * `CustomField`
          * `UserType`
        required: false
        schema:
          $ref: "#/components/schemas/AuditLogObjectType"
      - name: objectIds
        in: query
        description: Filter by object ids. Requires objectType to be specified. Accepts
          up to 10 ids.
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Filter by object ids. Requires objectType to be specified.
                Accepts up to 10 ids.
              items:
                type: string
      - name: users
        in: query
        description: Filter by users ids. Accepts up to 10 ids.
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Filter by users ids. Accepts up to 10 ids.
              items:
                $ref: "#/components/schemas/UserId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditLog"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /batch:
    post:
      tags:
      - Batch operations
      summary: Create Batch Operation
      description: |-
        <h3>Overview</h3><p>The Batch API lets you execute multiple operations asynchronously in a single request to reduce API calls and rate-limit pressure.</p><ul><li>Supports <b>up to 100 operations per batch</b></li><li>Operations are executed <b>asynchronously</b> and <b>independently</b> (not transactional)</li><li>A batch may contain <b>heterogeneous operation types</b></li></ul><h3>Execution &amp; Results</h3><p><code>POST /batch</code> schedules an asynchronous job and returns an <code>asyncJobId</code></p><ul><li>Use the <a href="api/v4/async-job/#get-async-job">Async Job API</a> to track progress and retrieve per-operation results</li><li>Partial success is possible; each operation returns its own status</li></ul><h3>Quota</h3><ul><li>Batch operations consume a per-account operation quota that replenishes as operations complete</li><li>Requests may be rejected if insufficient quota is available</li></ul>.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/batch/empty
      parameters:
      - name: operations
        in: query
        description: "Array of operations to execute. Limit : `100`"
        required: true
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Array of operations to execute
              items:
                $ref: "#/components/schemas/BatchOperation"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AsyncJob"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /bookings/{bookingIds}:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: |-
        Get bookings list.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/bookings/multi
      parameters:
      - name: bookingIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: "#/components/schemas/BookingId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /bookings:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: |-
        Returns list of all bookings in account.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/bookings/empty
      parameters:
      - name: startDate
        in: query
        description: |-
          Start date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Start date<br>Format: yyyy-MM-dd"
      - name: finishDate
        in: query
        description: |-
          Finish date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Finish date<br>Format: yyyy-MM-dd"
      - name: responsibleIds
        in: query
        description: "IDs of responsible users. Limit : `15000`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible users
              items:
                $ref: "#/components/schemas/UserId"
      - name: responsiblePlaceholderIds
        in: query
        description: "IDs of responsible placeholders. Limit : `15000`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible placeholders
              items:
                $ref: "#/components/schemas/PlaceholderId"
      - name: showDescendants
        in: query
        description: If true return bookings from descendant folders
        required: false
        schema:
          type: string
          description: If true return bookings from descendant folders
          default: "false"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /folders/{folderId}/bookings:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: |-
        Get bookings from folder.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/folders/single/bookings
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: startDate
        in: query
        description: |-
          Start date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Start date<br>Format: yyyy-MM-dd"
      - name: finishDate
        in: query
        description: |-
          Finish date
          Format: yyyy-MM-dd
        required: false
        schema:
          type: string
          description: "Finish date<br>Format: yyyy-MM-dd"
      - name: responsibleIds
        in: query
        description: "IDs of responsible users. Limit : `15000`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible users
              items:
                $ref: "#/components/schemas/UserId"
      - name: responsiblePlaceholderIds
        in: query
        description: "IDs of responsible placeholders. Limit : `15000`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible placeholders
              items:
                $ref: "#/components/schemas/PlaceholderId"
      - name: showDescendants
        in: query
        description: If true return bookings from descendant folders
        required: false
        schema:
          type: string
          description: If true return bookings from descendant folders
          default: "false"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Bookings
      summary: Create Booking
      description: |-
        Create Booking.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/folders/single/bookings
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: bookingDates
        in: query
        description: Booking dates
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingDates"
      - name: responsibleId
        in: query
        description: ID of responsible
        required: false
        schema:
          $ref: "#/components/schemas/UserId"
      - name: responsiblePlaceholderId
        in: query
        description: ID of responsible placeholder
        required: false
        schema:
          $ref: "#/components/schemas/PlaceholderId"
      - name: effortAllocation
        in: query
        description: Effort allocation
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingEffort"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /bookings/{bookingId}:
    put:
      tags:
      - Bookings
      summary: Update Booking
      description: |-
        Update Booking.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: PUT:/bookings/single
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/BookingId"
      - name: bookingDates
        in: query
        description: Booking dates
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingDates"
      - name: responsibleId
        in: query
        description: ID of responsible
        required: false
        schema:
          $ref: "#/components/schemas/UserId"
      - name: responsiblePlaceholderId
        in: query
        description: ID of responsible placeholder
        required: false
        schema:
          $ref: "#/components/schemas/PlaceholderId"
      - name: effortAllocation
        in: query
        description: Effort allocation
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingEffort"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    delete:
      tags:
      - Bookings
      summary: Delete Booking
      description: |-
        Delete booking by Id.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: DELETE:/bookings/single
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/BookingId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /colors:
    get:
      tags:
      - Colors
      summary: Query Colors
      description: |-
        Get color name - code mapping.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/colors/empty
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ColorsInfo"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: |-
        Get all comments in current account.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/comments/empty
      parameters:
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
          default: "false"
      - name: types
        in: query
        description: |-
          Comment type filter
          * `Email`
          * `Regular`
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: "#/components/schemas/CommentType"
              default: "[Regular]"
      - name: updatedDate
        in: query
        description: Deprecated because this parameter filters by created date instead
          of updated date. Please use the createdDate parameter instead
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: createdDate
        in: query
        description: Use the createdDate parameter to get all comments created within
          a specific date range. The date range must be 7 days or shorter
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: limit
        in: query
        description: Maximum number of returned comments
        required: false
        schema:
          type: number
          description: Maximum number of returned comments
          default: "1000"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /folders/{folderId}/comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: |-
        Get folder comments.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/folders/single/comments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
          default: "false"
      - name: types
        in: query
        description: |-
          Comment type filter
          * `Email`
          * `Regular`
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: "#/components/schemas/CommentType"
              default: "[Regular]"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Comments
      summary: Create Comment
      description: |-
        Create a comment in the folder. The virtual Root and Recycle Bin folders cannot have comments.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/folders/single/comments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/FolderId"
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Treat comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Treat comment text as plain text, HTML otherwise"
          default: "false"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /tasks/{taskId}/comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: |-
        Get task comments.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/tasks/single/comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
          default: "false"
      - name: types
        in: query
        description: |-
          Comment type filter
          * `Email`
          * `Regular`
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: "#/components/schemas/CommentType"
              default: "[Regular]"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    post:
      tags:
      - Comments
      summary: Create Comment
      description: |-
        Create comment in task.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: POST:/tasks/single/comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/TaskId"
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Treat comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Treat comment text as plain text, HTML otherwise"
          default: "false"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /comments/{commentIds}:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: |-
        Get single or multiple comments by their IDs.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/comments/multi
      parameters:
      - name: commentIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: "#/components/schemas/CommentId"
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
          default: "false"
      - name: types
        in: query
        description: |-
          Comment type filter
          * `Email`
          * `Regular`
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: "#/components/schemas/CommentType"
              default: "[Regular]"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /comments/{commentId}:
    put:
      tags:
      - Comments
      summary: Update Comment
      description: |-
        Update Comment by ID. A comment is available for updates only during the 5 minutes after creation.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: PUT:/comments/single
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/CommentId"
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
          default: "false"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
    delete:
      tags:
      - Comments
      summary: Delete Comment
      description: |-
        Delete comment by ID.

        <b>Scopes:</b> Default, wsReadWrite
      operationId: DELETE:/comments/single
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/CommentId"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      type: string
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /contacts:
    get:
      tags:
      - Contacts
      summary: Query Contacts
      description: |-
        List contacts of all users and user groups in current account.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/contacts/empty
      parameters:
      - name: me
        in: query
        description: If present - only contact info of requesting user is returned
        required: false
        schema:
          type: boolean
          description: If present - only contact info of requesting user is returned
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Metadata"
      - name: deleted
        in: query
        description: Deleted flag filter
        required: false
        schema:
          type: boolean
          description: Deleted flag filter
      - name: customFields
        in: query
        description: Custom field filter
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Custom field filter
              items:
                $ref: "#/components/schemas/CustomFieldFilterParam"
      - name: emails
        in: query
        description: "Email contacts filter. Limit : `100`"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Email contacts filter
              items:
                type: string
      - name: active
        in: query
        description: Active status filter
        required: false
        schema:
          type: boolean
          description: Active status filter
      - name: name
        in: query
        description: Contact name filter
        required: false
        schema:
          type: string
          description: Contact name filter
      - name: types
        in: query
        description: |-
          Contact type filter
          * `Group` - Group of users. Group userId can be used in folder/task sharing requests only. It has no effect in other operations
          * `Asset` - Asset
          * `Person` - Person
          * `Robot` - Robot user for automated operations
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Contact type filter
              items:
                type: string
                enum:
                - Group
                - Asset
                - Person
                - Robot
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Contact metadata
          * `currentCostRate` - Current user's cost rate
          * `customFields` - User's custom fields
          * `currentBillRate` - Current user's bill rate
          * `jobRoleId` - Current user's jobRoleId
          * `workScheduleId` - Contact work schedule id
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - currentCostRate
                - customFields
                - currentBillRate
                - jobRoleId
                - workScheduleId
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /contacts/{contactIds}:
    get:
      tags:
      - Contacts
      summary: Query Contacts
      description: |-
        List contacts of specified users and user groups.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/contacts/multi
      parameters:
      - name: contactIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                oneOf:
                - $ref: "#/components/schemas/UserId"
                - $ref: "#/components/schemas/InvitationId"
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Metadata"
      - name: types
        in: query
        description: |-
          Contact type filter
          * `Group` - Group of users. Group userId can be used in folder/task sharing requests only. It has no effect in other operations
          * `Asset` - Asset
          * `Person` - Person
          * `Robot` - Robot user for automated operations
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Contact type filter
              items:
                type: string
                enum:
                - Group
                - Asset
                - Person
                - Robot
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Contact metadata
          * `currentCostRate` - Current user's cost rate
          * `customFields` - User's custom fields
          * `currentBillRate` - Current user's bill rate
          * `jobRoleId` - Current user's jobRoleId
          * `workScheduleId` - Contact work schedule id
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - currentCostRate
                - customFields
                - currentBillRate
                - jobRoleId
                - workScheduleId
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /contacts/{contactIds}/contacts_history:
    get:
      tags:
      - Contacts
      summary: Query Contacts fields history
      description: |-
        Query Contacts fields history.

        <b>Scopes:</b> Default, wsReadOnly, wsReadWrite
      operationId: GET:/contacts/multi/contacts_history
      parameters:
      - name: contactIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                oneOf:
                - $ref: "#/components/schemas/UserId"
                - $ref: "#/components/schemas/InvitationId"
      - name: updatedDate
        in: query
        description: Update date filter
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantRange"
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `billRate` - User's bill rate
          * `costRate` - User's cost rate
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - billRate
                - costRate
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: "#/components/schemas/ResponseKind"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactChangeHistory"
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
      - HTTP: []
  /contacts/{contactId}:
    put:
      tags:
      - Contacts
      summary: Modify Contact
      description: |-
[...]
